* {
    padding: 0;
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .navbar-brand i {
    color: green;
}

.navbar-nav .nav-link {
    color: #35a22c;
}

a.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    transition: 0.3s;
    position: relative;
    margin-right: 10px;
}

.navbar-nav .active>.nav-link {
    color: green;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: green;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: green;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .active>.nav-link::before {
    width: 100%;
}

/* Carousel */
.carousel-indicators li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
}

.carousel-caption .user-carousel {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-indicators .active {
    background-color: #35a22c;
}

.carousel-item::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

/* end carousel */
/* start projects*/
.projects .nav {
    width: 100%;
    justify-content: center;
}

.projects .nav-pills .nav-link.active {
    background-color: #35a22c;
    color: white;
    border: 1px solid white;
}

.projects .nav-pills .nav-link {
    border: 1px solid black;
    margin: 0 10px;
    color: black;
}

.item_project {

    padding: 15px;
    height: 450px;
}

.container_item {
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
}

.container_item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.title_item {
    text-align: center;
}

.projects .title_item h2 {
    padding-top: 15px;
    font-size: 22px;
    font-weight: 300;
}

.projects .title_item p {
    opacity: 0.7;
}

/* title item */
.title_item {
    height: 30%;
    transition: 0.3s;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.container_item:hover .title_item {
    border: 1px solid #35a22c;
    border-top: none;
}

.container_item:hover .title_item h2 {
    color: #35a22c;
}

/* feature */
.feature {
    width: 100%;
    height: 700px;
    background-image: url(./image/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.feature::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.title_feature {
    color: white;
    text-align: center;
    z-index: 2;
    position: relative;
    /* zindex di chung relative */
    padding: 50px 60px;

}

.title_fearure p {
    font-size: 16px;

}

.item_feature {
    height: 200px;
    padding: 15px;
}

.item_content {
    z-index: 2;
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(3px);
    transition: 0.5s;
}

.item_feature .item_content h3 {
    color: white;
    padding-bottom: 20px;
    font-size: 20px;

}

.item_content p {
    color: white;


}

.item_content i {
    padding: 30px 0;
    font-size: 40px;
    color: green;
}

.item_content:hover {
    /* height: 100vh; */
    background-color: black;
    border: 1px solid white;
}

/* AWARD */
.award_left {
    width: 70%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 100px 30px 100px 100px;

    padding: 50px;
    border-radius: 18px;
    color: black;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.award {
    position: relative;
}

.award_left p {
    color: rgba(0, 0, 0, 0.6);
}

.award_left h1 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}

.award_bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-image: url(./image/memphis_3.png);
    width: 100%;
    height: 450px;
    background-color: rgba(255, 255, 255);
    opacity: 0.5;
}

.award .award_item {
    display: flex;

}

.award_right {
    margin-right: 100px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    padding-top: 150px;
}

.logo img {
    font-size: 30px;
    width: 80%;
    height: auto;
}

.award_right .logo {
    display: flex;
    width: 25%;
}

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    /* opacity: 0.8; */
}

/* .contact {
    display: flex;
} */

.contact ul {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.contact a {
    margin: 10px
}

.contact a i {

    padding-top: 12px;
    color: rgba(255, 255, 255, 0.5);
    /* background-color: white; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    transition: 0.5s;
}

.contact a i:hover {
    color: green;
    border: 1px solid green;
}



.footer .copy_right {
    color: white;
}

.copyright {
    margin: 50px 50px 0px 50px;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding-top: 20px;
    margin-top: 20px;
}

.copyright p {
    color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 50px;
}

.copyright p a {
    color: rgb(255, 255, 255, 0.5);

    text-decoration: none;
}

p a:hover {
    color: green
}